*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.headersoil1{
    height:100px;
    width:1475px;
}
.con{
    height: 400px;
    width:525px;
    display: inline-block;
}    

#ers{
    position: absolute;
    right:10px;
    background-image: url(data1.png);
    background-size: cover;
}

#er{

    width:900px;
    padding-top: 8px;
    padding-left:10px;
}

#cs{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:large;
}

.con2{
    height: 400px;
    width:525px;
    display: inline-block;
}

#para2{
    width:900px;
    height:250px;
    padding-top: 60px;
    padding-left:10px;
    margin-top: 30px;
    
}

#data2{
    position: absolute;
    right:10px;
    top:680px;
    background-image: url(data2soil.jpg);
    background-size: cover;
}

#headin1{
    width:500px;
    height:30px;
    font-size: x-large;
    text-align: center;
    position:relative;
    left:40px;
}

.headersoil1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: xx-large;
    padding-top: 50px;
}

.video1{
    height: 400px;
    width:780px;
    position: relative;
    left:360px;
    top:80px;
}

.ngosoil{
    background-color: bisque;
    width: 250px;
    height:150px;
    display:inline-block;
}

#ngo1{
    position: absolute;
    left:120px;
}

#ngo2{
    position:relative;
    left:620px;
}
#ngo3{
    position: absolute;
    right:100px;
}
.footer2{
    background-color: grey;
    width:1465px;
    height:20px;
    text-align: center;
}

#play1{
    height: 400px;
    width:780px;
}